
body {
    font-family: 'Roboto', sans-serif;
    /*background-image: url(https://farm5.staticflickr.com/4619/25211144367_80caa32a9d_z.jpg);
    background-repeat: no-repeat;
    background-size: 180%;*/
    background-color: #E2E2E2;
    margin: 0;
    color: white;
    position: relative;
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: #3D4E5E;
    color: white;
}
h2 {
    text-indent: 80px;
}
h3 {
    text-align: center;
    color: #333F4A;
}
h4 {
    background-color: #7291AE;
    opacity: 0.7;
    padding: 5px;
    text-align: center;
}
h6 {
    text-align: center;
}
p {
    padding: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
.jobtitle {
    text-align: center;
    width: 100%;
}
.mytext {
    color:white;
}
.section {
    background-color: #7291AE;
    padding: 3px;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 7%;
    opacity: 0.8;
}
.img-circle {
    border-color: #007CEA;
    border-radius: 7%;
}
.column {
    float: left;
    padding: 5px;
    margin-bottom: 2%;
}
.column2 {
    float: left;
    width: 33.3%;
    margin-bottom: 2%;
}
.bio {
    background-color: #BFB493;
    padding: 3px;
    margin-bottom 5%;
    margin-left: 5%;
    width: 42.5%;
    height: 20%
    opacity: 0.9;
}
.jobs {
    background-color: #DEC573;
    padding: 1%;
    margin-bottom 5%;
    margin-left: 52.5%;
    width: 42.5%;
    height: 20%
    opacity: 0.9;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
